# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/
package-lock.json
yarn.lock
.env

# Application Keys
application.key
application.public

#GSuite Admin SDK
credentials.json
token.json
.idea

#Keras trainer
/build
/data/trainingset/train/*
/data/trainingset/train-parsed/*
/data/trainingset/validation/*
/data/dataset/*
/data/tmp/*
/data/titles/*
/data/mobilenet/*
!/data/trainingset/train/.blank
!/data/trainingset/validation/.blank
!/data/tmp/.blank
!/data/titles/.blank